#collapse-button {
/*	position: relative;
	float: right;
	z-index: 1; */
	padding: 3px 4px 3px 4px;
	margin: 3px;
	text-align: center;
	font-family: sans-serif;
	color: #FFF;
	background-color: #666;
	border: 1px solid #CCC;
	overflow: hidden;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .collapsible:hover {
  background-color: #ccc;
}
*/
/* Style the collapsible content. Note: hidden by default */

.collapsible-hidden { 
	display: none;
}

.collapsible-shown { 
	display: block;
}
