@charset "utf-8";
/***
 *** FUNDAMENTAL BASE RULES TO RESET STYLES AND SET SOME SENSIBLE BASE DEFAULTS
 *** (INSPIRED BY WWW.MANCHESTER.AC.UK TEMPLATES 2016)
 ***/
 /* Standards created by Stuart Anderson FSE elearning team */
 

/*------------------------------------------------------------------------------------------------------------*/
/*	RESET CSS															  						  	  	  	  */
/*------------------------------------------------------------------------------------------------------------*/

/* RESET EVERYTHING (except lists) */
html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, abbr, address, 
cite, code, del, dfn, em, img, ins, 
kbd, q, samp, small, strong, 
sub, sup, var, b, i, dl, dt, dd,  
fieldset, form, label, legend, 
table, caption, tbody, tfoot, 
thead, tr, th, td, article, aside, 
canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, 
section, summary, time, mark, 
audio, video 									{
	margin:0; 
	padding:0; 
	border:0; 
	outline:0; 
	font-size:100%; 
	vertical-align:baseline; 
	background:transparent;
}


/*------------------------------------------------------------------------------------------------------------*/
/*	New base style defaults															  						  */
/*------------------------------------------------------------------------------------------------------------*/

main, article, aside, details,  
figcaption, figure, 
footer, header, hgroup, 
menu, nav, section 							{display:block;} /* Required for compatibility of new HTML5 tags in Internet Explorer */


table 										{border-collapse:collapse; border-spacing:0;}
hr 											{display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}
img											{-ms-interpolation-mode: bicubic;}

/* Links */
a img										{border:0}

/* Form */
form										{margin: 20px 0 0;}

legend										{margin-left:1em}

input, select 								{vertical-align:baseline; background:white;}
select										{-webkit-border-radius: 0;border-radius: 0;}
input, select, textarea, button 			{margin:0; font:100% sans-serif;}
input:invalid, textarea:invalid 			{border-radius:1px; box-shadow:0px 0px 2px red;}
input:required, textarea:required			{box-shadow: none;}


textarea 									{overflow:auto;resize:none;} 

input[type=text]:focus						{outline:none;}
textarea:focus								{outline:none;} 

button 										{width:auto; overflow:visible;}
button,
input[type=button],
input[type=submit] 							{cursor:pointer; -webkit-appearance: none; -webkit-border-radius:0; border-radius:0}

button[disabled],
html input[disabled] 						{cursor: default;}

::-webkit-input-placeholder             	{color: #ccc;}
input:-moz-placeholder               		{color: #ccc;}
input:-ms-input-placeholder					{color: #999;}

/* Lists */
ul, ol 										{margin-left:0em; padding-left:3em;}
ol 											{list-style-type:decimal;}

/* Text */
pre, code, kbd, samp 						{font-family: "Courier New", Courier, monospace, sans-serif;}
blockquote, q 								{quotes:none;}
blockquote:before, blockquote:after,	
q:before, q:after 							{content:''; content:none;}
ins 										{background-color:#ff9; color:#000; text-decoration:none;}
mark 										{background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
del 										{text-decoration:line-through;}
abbr[title], dfn[title] 					{border-bottom:1px dotted; cursor:help;}
sub 										{vertical-align:sub; font-size:smaller;}
sup 										{vertical-align:super; font-size:smaller;}
pre 										{padding:15px;  white-space:pre;  white-space:pre-wrap;  word-wrap:break-word;}
small 										{font-size:85%;}
::-moz-selection							{background:#254e57; color:#fff; text-shadow:none;}
::selection 								{background:#254e57; color:#fff; text-shadow:none;} 


